<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Patika.dev Bootcamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link" th:href="@{/home}">Yeni Başvuru</a>
                <a class="nav-link" th:href="@{/credits/applications}">Başvurularım</a>
            </div>
            <a class="nav-link" th:href="@{/logout}">Çıkış</a>
        </div>
    </div>
</nav>